# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads directory
uploads/

# Build files
build/
dist/

# Logs
*.log
npm-debug.log*

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
